.about {

    &__inner {
        max-width: 856px;
        margin: 0 auto;
        padding-top: 50px;

        @media (min-width: $breakpointMedium) {
            padding-top: 151px;
        }
    }

    &__content {

        padding-top: 32px;

        :first-child {
            display: flex;
            gap: 38px;

            @media (max-width: $breakpointMedium) {
                flex-direction: column-reverse;
                align-items: center;
                img {
                    max-width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}