.banner {

    &__inner {

        margin: 12px 0;

        @media (min-width: $breakpointMedium) {
            max-width: 100%;
            height: 592px;

            background: linear-gradient(0deg, rgba(28, 28, 28, 0.1), rgba(28, 28, 28, 0.1)), url(../img/banner.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__content {

        max-width: 509px;
        background-color: $white;

        @media (min-width: $breakpointMedium) {
            padding: 22px;
            margin-left: 45px;
        }

        @media (min-width: $breakpointLarge) {
            padding: 76px 40px 96px 39px;
        }
    }
}

.preview-article {

    &__tag {
        padding-bottom: 8px;
        font-size: 12px; 
        line-height: 16px; 
        color: $color--secondary;

        @media (min-width: $breakpointMedium) {
            font-size: 14px; 
            line-height: 20px; 
        }

        @media (min-width: $breakpointLarge) {
            font-size: 20px; 
        }
    }

    &__link {
        &:hover {
            text-decoration: underline;
        }
    }

    &__row {
        display: flex;
        align-items: flex-end;
        padding: 8px 0;
        font-size: 12px;
        line-height: 16px;
        color: $color--secondary;

        @media (min-width: $breakpointLarge) {
            padding-top: 12px;
            padding-bottom: 14px;
            line-height: 22px;
        }
    }

    &__author {
        padding-right: 20px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;
            width: 3px;
            height: 3px;
            background-color: $color--secondary;
            border-radius: 50%;
        }
    }

    &__read-time {

        padding-left: 3px;

        @media (min-width: $breakpointLarge) {
            font-size: 14px;
            line-height: 19px;
        }
    }
}