.banner {

    &__inner {

        margin: 12px 0;

        @media (min-width: $breakpointMedium) {
            max-width: 100%;
            height: 592px;

            background: linear-gradient(0deg, rgba(28, 28, 28, 0.1), rgba(28, 28, 28, 0.1)), url(../img/banner.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__content {

        max-width: 509px;
        background-color: $white;

        @media (min-width: $breakpointMedium) {
            padding: 22px;
            margin-left: 45px;
        }

        @media (min-width: $breakpointLarge) {
            padding: 76px 40px 96px 39px;
        }
    }
}

