.preview-article {

    &__tag {
        padding-bottom: 8px;
        font-size: 12px; 
        line-height: 16px; 
        color: $color--secondary;
        text-transform: uppercase;

        @media (min-width: $breakpointMedium) {
            font-size: 14px; 
            line-height: 20px; 
        }

        @media (min-width: $breakpointLarge) {
            font-size: 20px; 
        }
    }

    &__link {
        &:hover {
            text-decoration: underline;
        }
    }

    &__row {
        display: flex;
        align-items: flex-end;
        padding: 8px 0;
        font-size: 12px;
        line-height: 16px;
        color: $color--secondary;

        @media (min-width: $breakpointLarge) {
            padding-top: 12px;
            padding-bottom: 14px;
            line-height: 22px;
        }
    }

    &__author {
        padding-right: 20px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;
            width: 3px;
            height: 3px;
            background-color: $color--secondary;
            border-radius: 50%;
        }
    }

    &__read-time {

        padding-left: 3px;

        @media (min-width: $breakpointLarge) {
            font-size: 14px;
            line-height: 19px;
        }
    }
}