// Breakpoint 

$breakpointLarge: 1316 + px;
$breakpointMedium: 718 + px;
$breakpointSmall: 768 + px;
$breakpointExSmall: 479 + px;




// Colors

$color--primary: #000000;
$color--secondary: rgba(28, 28, 28, 0.5);
$color--tertiary: rgba(28, 28, 28, 1);
$white: #fff;

