body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: $color--primary;
    color: $white;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: $breakpointExSmall) {
        padding: 0 5px;
    }
}

.button {
    color: $white;
    font-weight: 900;
    background-color: $color--secondary;
    border-radius: 6px;
    padding: 15px 22px;
    font-size: calc(19px + 30 * ((100vw - 320px) / 2240));
    @media (max-width: $breakpointMedium) {
        padding: 10px 16px;
    }
}

.disable {
    display: none;
}


.title {
    padding: 20px;
    font-size: calc(25px + 50 * ((100vw - 320px) / 2240));
    text-align: center;
}